---
- name: "PLAY 1: Backup router/switch configs"
  hosts: cisco_devices
  connection: network_cli
  tasks:
    - name: "TASK 1: Get running-config"
      ios_command:
        commands: "show running-config"
      register: running_config

    - name: "TASK 2: Copy running_config to configs directory"
      copy:
        content: "{{ running_config.stdout[0] }}\n"
        dest: "configs/{{ inventory_hostname }}.txt"

- name: "PLAY 2: Retrieve routes from core switches"
  hosts: cisco_devices
  connection: network_cli
  gather_facts: no
  tasks:
    - name: "TASK 1: Get route table (vrf default)"
      ios_command:
        commands: "show ip route"
      register: route_table

    - name: "TASK 2: Save route table (vrf default) to routes directory"
      copy:
        content: "{{ route_table.stdout[0] }}\n"
        dest: "routes/{{ inventory_hostname }}-default.txt"

    - name: "TASK 3: Retrieve VRF list"
      ios_command:
        commands: "show vrf"
      register: vrf_output

    - name: "TASK 4: Initialise VRF structure"
      set_fact:
        vrf_list: []

    - name: "TASK 5: Extract VRF names from devices"
      set_fact:
        vrf_list: "{{ vrf_list + [item.split()[0]] }}"
      loop: "{{ vrf_output.stdout_lines[0][1:] }}"
      when: item is string and item.split() | length > 0 and (
         (item[0:2] == '  ' and item[2] != ' ') or
         (item[0:1] != ' ')
        )

    - name: "TASK 6: Output VRF list"
      debug:
          var: vrf_list
   
    - name: "TASK 7: Get each VRF route table"
      ios_command:
         commands: "show ip route vrf {{ item }}"
      loop: "{{ vrf_list }}"
      register: vrf_route_table

    - name: "TASK 8: Save VRF route tables to routes directory"
      no_log: True
      copy:
        content: "{{ item.stdout[0] }}\n"
        dest: "routes/{{ inventory_hostname }}-{{ item.item }}.txt"
      loop: "{{ vrf_route_table.results }}"
      ignore_errors: true
